.tooltip {
    position: absolute;
    padding: 10px;
    background-color: steelblue;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    display: none;
    opacity: .75;
}

.listening-rect {
      pointer-events: all;
      fill-opacity: 0;
      stroke-opacity: 0;
      z-index: 1;
}

.tooltip-line {
  stroke-opacity: 0.5;
} 


#energy-chart-form {
    display: none;
}

#total-consumption-chart {
  text-align: center;
  display: none;
}

#pie-chart-slider {
  width: 20%;
  margin: 20px;

}



